<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">

  <ngb-panel style="padding: 0">
    <ng-template ngbPanelTitle>
      <span>
        <b>Employee information</b>
      </span>
    </ng-template>
    <ng-template ngbPanelContent style="padding: 0">
      <!-- <div class="container">
        <form class="form-inline">
          <div class="form-group">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
            </button>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">

              </div>
            </div>

          </div>
           <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button> 
        </form>
      </div> -->

      <form>

        <!-- <div class="card" style="width: 100%;"> -->
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span>
              <b>Personal information</b>
            </span>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationDefault01">First name</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="John" value="" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefault02">Last name</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Snow" value="" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefaultUsername">Birthdate</label>

                <ngb-datepicker #d1 ></ngb-datepicker>

                <!-- <dl-date-time-picker></dl-date-time-picker> -->
                <!-- <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                  </div> -->
                  <!-- <input type="text" class="form-control" id="validationDefaultUsername" ngbDatepicker #d="ngbDatepicker" placeholder="01/01/2018"
                    aria-describedby="inputGroupPrepend2" required> -->
                <!-- </div> -->
              </div>
            </div>

            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="111 Bluff rd. Black Rock VIC 3193">
            </div>

            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationDefault03">Email Address</label>
                <input type="text" class="form-control" id="email" placeholder="username@mail.com" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefault04">Contract Number</label>
                <input type="text" class="form-control" id="contractNumber" placeholder="02-000-0000" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefault05">Mobile Number</label>
                <input type="text" class="form-control" id="mobileNumber" placeholder="080-000-0000" required>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationDefault03">Position Applied</label>
                <input type="text" class="form-control" id="position" placeholder="Java Developer" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefault04">Expected Salary(THB)</label>
                <input type="text" class="form-control" id="salary" placeholder="25,000" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefault05">Reference</label>
                <input type="text" class="form-control" id="refernce" placeholder="080-000-0000" required>
              </div>
            </div>



          </li>
          <li class="list-group-item">


            <span>
              <b>Education</b>
            </span>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Degree</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Master Degress">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">University</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Chulalongkorn University">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Major</label>
                <input type="text" class="form-control" id="major" placeholder="Computer Science">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">GPA</label>
                <input type="text" class="form-control" id="gpa" placeholder="4.00">
              </div>
            </div>

          </li>
          <li class="list-group-item">

            <span>
              <b>Working Experience</b>
            </span>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationDefault03">Company name</label>
                <input type="text" class="form-control" id="compnay" placeholder="Chulalongkorn University" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefault04">Start Date</label>
                <input type="text" class="form-control" id="startDate" placeholder="01/01/2018" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefault05">End Date</label>
                <input type="text" class="form-control" id="endDate" placeholder="01/01/2018" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Role</label>
                <input type="text" class="form-control" id="role" placeholder="Java Developer">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Responsibility</label>
                <input type="text" class="form-control" id="responsibility" placeholder="Develop Java systems for clients">
              </div>
            </div>

            <button type="button" style="width: 250px;" class="btn btn-outline-primary">Cancel</button>
            <button type="button" style="width: 250px;" class="btn btn-success">Create</button>
          </li>
        </ul>
        <!-- </div> -->


      </form>

    </ng-template>
  </ngb-panel>

</ngb-accordion>