<div class="modal-header">
  <h3 class="modal-title">Applicant Detail</h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ngb-tabset>
    <ngb-tab title="Personal Information">
      <ng-template ngbTabContent>
        <div class="container">
          <div class="form-row">
            <div class="col-md-6">
              <label for="firstName">First name</label>
              <input type="text" class="form-control" id="firstName" placeholder="John" name="firstName" required>
            </div>
            <div class="col-md-6">
              <label for="lastname">Last name</label>
              <input type="text" class="form-control" id="lastname" placeholder="Snow" name="lastname" required>
            </div>
            <div class="col-md-6 mb-6">
              <label for="birthdate">Birthdate</label>

              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="dd/mm/yyyy" name="birthdate" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                      <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12">
              <label for="Address">Address</label>
              <input type="text" class="form-control" id="address" placeholder="111 Bluff rd. Black Rock VIC 3193" name="address" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <label for="email">Email Address</label>
              <input type="text" class="form-control" id="email" placeholder="username@mail.com" name="email" required>
            </div>
            <div class="col-md-6">
              <label for="contractnumber">Contract Number</label>
              <input type="text" class="form-control" id="contractno" placeholder="02-000-0000" name="contractno" required>
            </div>
            <div class="col-md-6">
              <label for="mobilenumber">Mobile Number</label>
              <input type="text" class="form-control" id="mobileno" placeholder="080-000-0000" name="mobileno" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <label for="position">Position Applied</label>
              <input type="text" class="form-control" id="position" placeholder="Java developer" name="position" required>
            </div>
            <div class="col-md-6">
              <label for="Salary">Expected Salary</label>
              <input type="text" class="form-control" id="salary" placeholder="150000" name="position" required>
            </div>
            <div class="col-md-6">
              <label for="reference">Reference</label>
              <input type="text" class="form-control" id="reference" placeholder="" name="reference" required>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Education</ng-template>
      <ng-template ngbTabContent>
        <div class="container">
          <div class="form-row">
            <div class="col-md-12">
              <label for="degree">Degree</label>
              <input type="text" class="form-control" id="degree" placeholder="Master's degree" name="degree" required>
            </div>
            <div class="col-md-12">
              <label for="University">University</label>
              <input type="text" class="form-control" id="University" placeholder="Chulalongkong University" name="university" required>
            </div>
            <div class="col-md-6">
              <label for="major">Major</label>
              <input type="text" class="form-control" id="major" placeholder="Computer science" name="major" required>
            </div>
            <div class="col-md-6">
              <label for="gpa">GPA</label>
              <input type="text" class="form-control" id="gpa" placeholder="4.00" name="GPA" required>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Working experience">
      <ng-template ngbTabContent>
        <div class="container">
          <div class="form-row">
            <div class="col-md-12">
              <label for="company">Company</label>
              <input type="text" class="form-control" id="degree" placeholder="Company name" name="company" required>
            </div>
            <div class="col-md-6">
              <label for="startdate">Start Date</label>
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="dd/mm/yyyy" name="startdate" ngbDatepicker #start="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="start.toggle()" type="button">
                      <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="enddate">End Date</label>
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="dd/mm/yyyy" name="enddate" ngbDatepicker #end="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="end.toggle()" type="button">
                      <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <label for="Role">Role</label>
              <input type="text" class="form-control" id="role" placeholder="Java developer" name="role" required>
            </div>
            <div class="col-md-12">
              <label for="Responsibility">Responsibility</label>
              <input type="text" class="form-control" id="responsibility" placeholder="Develop Java systems for clients" name="role" required>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<div class="modal-footer">
  <div class="form-row right">
    <button type="button" class="btn btn-outline-primary" (click)="activeModal.close('Close click')">Cancel</button>
    <button type="submit" class="btn btn-success">Save</button>
  </div>

</div>
