<nav class="navbar navbar-expand-md navbar-dark bg-gl fixed-top">
  <a class="navbar-brand" href="#">
    <img src="assets/logo.png" alt="Logo">
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    (click)="toggleCollapse()"
    aria-controls="navbarDefault"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarDefault" [ngbCollapse]="isNavbarCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive = "active"><a class="nav-link" routerLink="home">Home</a></li>
      <li class="nav-item dropdown" routerLinkActive = "active" ngbDropdown>
        <a class="nav-link dropdown-toggle" ngbDropdownToggle>Employee</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="employees" routerLinkActive = "active">Registration</a>
        </div>
      </li>
    </ul>
    <div class="pull-right">
      <ul class="navbar-nav pull-right">
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle>Sereysopheak</a>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <a class="dropdown-item" >My Account</a>
            <a class="dropdown-item" >Settings</a>
            <a class="dropdown-item" >Notifications</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" >Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>