@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
.navbar {
  padding-top: 0;
  padding-bottom: 0;
  
  &.bg-gl {
    background: linear-gradient(90deg, #8BC53F 0%, #069DD8 100%);
    
    .navbar-toggler {
      color: white;
      border: none;
      &:focus {
        outline: none;
      }
    }
  
    @include media-breakpoint-up(lg) {
      padding: 0 60px;
    }
  }
  
  .nav-item {
    @include media-breakpoint-up(lg) {
      padding-right: 25px;
    }
  
    a {
      font-size: larger;
      
      &:hover { 
        cursor: pointer;
      }
    }
  }
  .pull-right {
    .dropdown-menu-right {
      left: auto !important;
    }
  }
}

